@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat&display=swap');

.app-name {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
}

body {
    background-color: #111;
}

body::-webkit-scrollbar {
    display: none;
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 300px;
    background-color: #444;
    color: #fff;
}

button {
    padding: 8px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: var(--orange-color);
    font-size: 0.95rem;
}

button:hover {
    transform: scale(0.98);
    background-color: var(--peach-color);
}

.guest-options {
    display: flex;
}

.menu-icon {
    color: var(--orange-color);
    margin-right: 20px;
}

.menu-icon:hover {
    color: var(--peach-color);
}

.user-menu-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    bottom: 6px;
}

.guest-options p {
    margin: 5px;
}

.guest-options a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.user-options {
    margin-top: 10px;
}

main {
    margin-top: 70px;
    background-color: #111;
    color: #fff;
    padding: 20px;
    min-height: 78vh;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: #222;
    width: 100%;
    border-radius: 10px;
    max-width: 800px;
    align-self: center;
    padding: 20px;
    margin: 10px;
}

.post-content {
    padding: 5px;
}

.post-content h4 {
    color: #b0b0b0;
    font-size: 15px;
    margin-top: 10px;
}

.user-header {
    display: flex;
    justify-content: space-between;
}
.comments {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.comment {
    width: 100%;
    max-width: 750px;
    align-self: center;
    padding: 10px 20px;
    margin-bottom: 20px;
   
}

.user-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user {
    display: flex;
}

.menu {
    height: 200px;
    width: 150px;
    position: fixed;
    left: 0;
    top: 100;
    padding-top: 40px;
    color: #fff;
    background-color: red;
}

.menu ul {
    display: block;
}

.create-post-btn {
    margin-right: 20px;
}

.options {
    display: flex;
}

.options div {
    display: flex;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
}

.page {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    max-width: 350px;
}

.page form {
    margin-top: 20px;
}

.page form input {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 350px;
    background-color: #444; 
    color: #fff;
    margin: 15px 0;
}

/* Target input fields that have been autofilled */
input:-webkit-autofill {
    background-color: #444 !important; /* Set your desired background color */
    color: #fff !important; /* Set your desired text color */
    border: 2px solid #ccc; /* Maintain the border you prefer */
    -webkit-text-fill-color: #fff !important; /* Ensure text color inside the input remains */
    box-shadow: 0 0 0px 1000px #444 inset !important; /* Remove autofill glow effect */
}

.page form button {
    position: relative;
    left: 80%;
    margin-bottom: 30px;
}

.page form p {
    text-align: center;
}

.link {
    color: var(--orange-color);
    text-decoration: none;
}

.align-right {
    float: right;
}

.dropdown {
    margin: 10px 20px 10px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    border-radius: 10px;
    width: max-content;
    font-size: 14px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.move-left {
    position: absolute;
    right: 20px;
}

.dropdown-content label {
    display: block;
    padding: 12px;
    cursor: pointer;
}

.dropdown-content label:hover {
    border: 1px solid var(--orange-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-container {
    display: flex;
}

.center-add-post {
    display: grid;
    place-items: center;
}

.center-add-post h2 {
    font-size: 1.5em;
    border-bottom: 1px solid var(--orange-color);
}

.add-post #title {
    padding: 5px;
    border-radius: 10px;
    width: 250px;
    background-color: #444;
    color: #fff;
    margin: 15px 10px;
}

.add-post #rate {
    padding: 5px;
    border-radius: 10px;
    width: 50px;
    background-color: #444;
    color: #fff;
    margin: 15px 10px;
}

.add-post #status {
    padding: 5px;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    margin: 15px 10px;
}

.add-post #synopsis,
.add-post #review {
    padding: 10px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    background-color: #444;
    color: #fff;
    margin: 10px 0;
}

.add-post button {
    float: right;
}
 
input,
textarea,
select {
    outline: none; 
    transition: border-color 0.3s ease; 
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--orange-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
}

.profile {
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    margin: 20px;
}

.profile img {
    border-radius: 50%;
    margin: 50px 0 15px 20px;
}

.profile .bio {
    padding: 20px;
}

.edit {
    float: right;
    padding: 20px 0;
}

.input-error {
    border: 1px solid red;
}

.error-message {
    color: rgb(154, 59, 59);
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.add-comment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-comment button {
    height: 50px;
    margin: 5px;
}

#comment-content {
    padding: 10px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    background-color: #333;
    color: #fff;
    margin: 10px 0;
}

.vertical-align {
    display: flex;
    flex-direction: column;
}

.user {
    text-decoration: none !important;
    color: #fff
}

.center {
    text-align: center;
}

footer {
    background-color: #222;
    color: #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.error-page {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 700px) {
    header {
        padding: 10px 20px;
    }

    .search-bar input {
        width: 100px;
    }

    .app-name {
        font-size: 25px;
    }

    footer {
        font-size: 10px;
    }

    .menu-icon {
        margin-right: 10px;
    }

    .show-btn-label {
        display: none;
    }

    .create-post-btn {
        margin-right: 0;
    }

    .dropdown {
        margin-right: 0;
        margin-left: 5px;
    }
}

@media screen and (max-width: 370px) {
    .search-bar input {
        width: 60px;
    }

    .page form input {
        width: 280px;
    }
}